/* Navigation Bar Styles */
.navbar {
    background-color: #1e90ff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Add padding to the top of the page content to prevent overlap with the fixed navbar */
body {
    padding-top: 60px;
}
#faviconImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 10px;
    left: 10px;
    transform: rotateY(0deg); /* Initial position */
    animation: rotate3D 5s infinite linear;
}

/* Animation keyframes */
@keyframes rotate3D {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
